body {
    background-image: url("Images/661fb25fbafe1fce5e806b2806d5cc56.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-facebook {
    border: none;
    background-image: url("Images/connect-with-facebook.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 270px;
    height: 50px;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-item a {
    color: white;
    font-size: 1.7em;
    margin-right: 50px;
}

.nav-item a:hover {
    color: Orange !important;
    cursor: pointer;
}

a {
    color: dodgerblue !important;
    font-size: 1.2em;
    font-family: 'Aldrich';
}

.navbar {
    border-bottom: 1px solid white;
    margin-bottom: 50px;
}

.blue {
    color:dodgerblue !important;
    font-size: 1.1em !important;
}

.player-name {
    color: dodgerblue;
    font-size: 3.5em;
    font-family: 'Kumar One';
    margin-bottom: 70px;
}

.brand {
    color: red !important;
    font-size: 2em !important;
    font-weight: bold !important;
}

.title {
    color: red;
    font-size: 2em;
    font-family: 'Aldrich';
}

.EP {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Aldrich';
}

.small-span {
    font-size: 0.5em;
}

.table-details {
    background: linear-gradient(to right, #061838, #2a55a3) !important;
    font-size: 1.2em;
}

.table-champs {
    background: linear-gradient(to right, red, #ff5400) !important;
    font-size: 1.2em;
}

.rank {
    font-size:1.4em;
    color: orange
}

.champ-img {
    height: 70%;
}

.btn-invite {
    background: linear-gradient(to right, darkblue, #2a55a3);
    height: 60px;
    width: 150px;
    color:white;
    font-weight: bold;
    float: right;
}

.btn-invite:hover {
    background: linear-gradient(to right, red, #ff5400);
}

.btn-join {
    background: linear-gradient(to right, darkblue, #2a55a3);
    height: 40px;
    width: 120px;
    color: white;
    font-weight: bold;
}

.btn-join:hover {
    background: linear-gradient(to right, red, #ff5400);
}

.btn-decline {
    background: linear-gradient(to right, darkred, red);
    height: 40px;
    width: 120px;
    color: white;
    font-weight: bold;
}

.btn-decline:hover {
    background: linear-gradient(to right, red, #ff5400);
}

.red {
    color: red;
    font-weight: bold;
}

.page {
    display: none;
    padding: 0 0.5em;
}