body {
    background-image: url("Images/661fb25fbafe1fce5e806b2806d5cc56.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-facebook {
    border: none;
    background-image: url("Images/connect-with-facebook.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 270px;
    height: 50px;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-item a {
    color: white;
    font-size: 1.7em;
    margin-right: 50px;
}

.nav-item a:hover {
    color: Orange !important;
    cursor: pointer;
}

a {
    color: dodgerblue !important;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Aldrich';
}

.navbar {
    border-bottom: 1px solid white;
    margin-bottom: 50px;
}

.blue {
    color:dodgerblue !important;
    font-size: 1.1em !important;
}