@model EScouting.Models.SummonerViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.SummonerName</h2>
<h2>@Model.MainRole</h2>
<h2>Solo Queye: @Model.SoloQueue.Tier</h2>
<h2>Ranked Queye: @Model.FlexQueue.Tier</h2>