@model IEnumerable<EScouting.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>all Players</h2>

@if (!Model.Any())
{
    <h2>No players yet.</h2>
}
else
{
    <table id="playersTable" class="table table-bordered table-hover">
        <thead>
            <tr>Player</tr>
            <tr>Summoner Name</tr>
            <tr>Nationality</tr>
            <tr>Server</tr>
            <tr>EP</tr>
        </thead>
        <tbody>
            @foreach(var player in Model)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.SummonerName</td>
                    <td></td>
                    <td></td>
                    <td>@player.EPoints.ToString("#.#")</td>
                </tr>
            }
        </tbody>
    </table>
}